.card {
  background-color: white;
  border: 1px solid #333;
  border-radius: 0.5rem;
  padding: 0.5rem;
  max-width: 300px;
  margin: 0 auto;
  display: none;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  gap: 0.25rem;
}
.form-group:last-child {
  margin: 0;
}
.form-group > label {
  font-weight: bold;
  font-size: 0.8em;
  color: #333;
}
.form-group > input {
  border: 1px solid #333;
  border-radius: 0.25em;
  font-size: 1rem;
  padding: 0.25em;
}
.step-title {
  margin: 0 0 1rem 0;
  text-align: center;
}

.card.active {
  display: block;
  animation: slide 500ms ease-in-out forwards;
}

.multi-step-form {
  overflow: hidden;
  position: relative;
}

@keyframes slide {
  0% {
    transform: translateX(200%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
